<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyVocab">
        <activity
            android:name=".ui.add_edit_word.EditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.add_edit_word.AddNewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MyVocabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.flashcards.FlashCardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.flashcards.StudySetupActivity" />
        <activity
            android:name=".ui.dictionary.DictionaryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.static_activity.StatisticsActivity"
            android:exported="false"
            android:label="Thống Kê"/>
    </application>

</manifest>